# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# VSCode settings folder
.vscode/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Docker local override
docker-compose.override.yml
